@model PGM_ORM.Models.Solicitude

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Solicitude</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidosSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidosSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetalleSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolicitudUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolicitudUsuarioNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSolicitud" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
