@model PGM_ORM.Models.Solicitude

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Solicitude</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidosSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidosSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetalleSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolicitudUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolicitudUsuarioNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSolicitud">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
